.body_container {
  width: 100%;
  height: 100vh !important;
  background: url('../public/imgs/movie_bg.jpg') no-repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}

.header_container {
  position: absolute;
  margin: auto;
  top: 140px;
  /* bottom: 0; */
  left: 100px;
  height: max-content;
  max-width: 620px;
  width: 100%;
}

.header_text {
  font-size: 3rem;
  font-family: Raleway_Regular;
  color: #fff;
  font-weight: bold;
}

.header_paragraph {
  color: #fff;
  font-family: Raleway_Regular;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 1130px) {
  .body_container {
    background-size: 100% 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 814px) {
  .body_container {
    background-size: 100% 100%;
  }

  .header_container {
    position: relative;
    margin: auto;
    top: 140px;
    left: 0px;
    height: max-content;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  .header_container {
    position: relative;
    margin: auto;
    top: 140px;
    left: 0px;
    height: max-content;
    width: 100%;
  }


  .header_text {
    font-size: 2.1rem;
    font-family: Raleway_Regular;
    color: #fff;
    font-weight: bold;
  }
}