@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Dancing_Script_Regular;
  src: url('../src/styles/Fonts/Dancing_script/DancingScript-Regular.ttf');
}

@font-face {
  font-family: Raleway_Regular;
  src: url('../src/styles/Fonts/Raleway/Raleway-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway_Regular, serif;
  color: #fff;
}